.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .upload-container label {
    font-weight: bold;
    margin-bottom: 10px;
  }